body{
margin: 0%;
padding: 0%;
background-color: #333652



;
}
#headingID{
margin: 5%;
font-size: xx-large;
font-weight: bold;
text-align: center;
/* border: 1px dotted red; */
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: white;
}
.childContainer{
display: flex;
flex-direction: column;
/* border: 1px dotted red; */
/* padding: 3%; */
/* justify-content: center;
    align-items: center; */
    margin-left: 30vw;
    margin-right: 30vw;
    background-color: white;
}
#questionID{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    padding: 3%;
}

#optionID{    padding: 3%;

}
#answer-optionID{

}
#scoreID{

}
#submitbtnID{
padding: 2%;
margin: 0%;
background-color: #90adc6;
font-weight: bold;
font-size: larger;
border-color: transparent;
}