body{
    /* background-color: rgb(255, 255, 255); */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.parentContainer{
    margin:2%;
    text-align: center;
    font-size: medium;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    /* font-size: small; */
    color: white;
}
.childContainer{
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    /* background-color: rgb(207, 207, 207); */
    /* background: linear-gradient(90deg, rgba(255, 221, 3, 1) 0%, rgba(255, 213, 0, 1) 64%, rgba(237, 155, 83, 1) 100%); */
    padding: 5%;
    margin: 5%;
    border-radius: 10%;
    width: 30vw; /* 30% of the viewport width */
    height: auto; /* 30% of the viewport height */
    
}
#submitbtnID{
    padding: 15%;
    background-color: rgb(6, 78, 146);
    color:black;
    font-weight: bolder;
    top:10vh;
    left: 10vw;
    position: relative;
    width: 5vw;
    border: none;
    border-radius: 20%;
}
#submitbtnID:hover{
    padding: 15%;
    background-color: rgb(35, 94, 149);
    color:black;
    font-weight: bolder;
    top:10vh;
    left: 10vw;   
     width: 5vw;

    position: relative  ;
    /* border: 1px light gray; */
}
